<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}{{ setting_get('site_name') }}{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset_theme('img/favicon.ico') }}"/>
</head>
<body>
  {% block header %}{% endblock %}
  {% block main %}{% endblock %}
  {% block footer %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>
</html>